:root {
  --selected: rgba(0, 0, 0, 0.05);
  --unselected: rgba(0, 0, 0, 0);
  --textcolor: rgba(0, 0, 0, 1);
  --backgroundcolor: rgba(0, 0, 0, 0);
  --shadowboxes: rgba(0, 0, 0, 0.2);
}

body.bodystyling {
  color: var(--textcolor);
  background-color: var(--backgroundcolor);
  font-family: Arial;

  animation-name: fadein;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
    width: 80%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

h1 {
  font-size: 35px;
  font-weight: bolder;
}

div.center {
  margin: auto;
  width: 60%;
  padding: 1vw;
}

div.bordered {
  margin: auto;
  width: 95%;
  padding: 0.5vw;
  border-style: solid;
  border-radius: 0.5vw;
  box-shadow: 0 4px 8px 0 var(--shadowboxes), 0 6px 20px 0 var(--shadowboxes);
  display: grid;
  grid-template-columns: 20% 80%;
  animation-name: colorfadeout;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

div.bordered:hover {
  animation-name: colorfadein;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes colorfadein {
  from {background-color: var(--unselected);}
  to {background-color: var(--selected);}
}

@keyframes colorfadeout {
  from {background-color:  var(--selected);}
  to {background-color:  var(--unselected);}
}

div.inline {
  padding: 0.2vw;
  margin: 0.2vw;
}

div.menustyle {
  margin: auto;
  padding: 0.5vw;
  border-style: solid;
  border-radius: 0.5vw;
}

img.styled {
  box-shadow: 0 4px 8px 0 var(--shadowboxes), 0 6px 20px 0 var(--shadowboxes);
}

td.content {
  padding: 0.5vw;
  text-align: justify;
  vertical-align: top;
}

button.menu {
  text-align: center;
  background-color: var(--backgroundcolor);
  border-width: 0px;
  border-radius: 0.5vw;
  padding: 0.8vw;
  font-size: 20px;
  font-weight: bolder;

  animation-name: colorfadeout;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

button.menuselected {
  text-align: center;
  background-color: var(--selected);
  border-width: 0px;
  border-radius: 0.5vw;
  padding: 0.8vw;
  font-size: 20px;
  font-weight: bolder;
}

button.menu:hover {
  animation-name: colorfadein;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 800px) {
  div.center {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  div.bordered {
    display: block;
    padding: 2vw;
    border-radius: 2vw;
  }
  div.menustyle {
    border-radius: 2vw;
  }
  div.inline {
    width: 100%;
    margin: 0vw;
  }
  button.menu {
    width: 100%;
    border-radius: 2vw;
  }
  button.menuselected {
    width: 100%;
    border-radius: 2vw;
  }
  div.menustyle {
    width: 80%;
    margin: auto;
  }
}
